/* Add your custom theme overrides here */

body {
	background-color: #fff;
	/*background-color: #000;*/

}

.footer {
	padding-bottom: 10px;
	// background-color: #ddd;
	// background-color: #fff;
	
	/* Light themes */
	
	// border-top: 1px solid #ccc;

	/* Dark themes */

	// border-top: 1px solid #222;
	.container-narrow .row {
		border-top: 1px solid #eee;
	}
}

.header {
	/* Light themes */
	
	// background-color: #ddd;
	border-bottom: 1px solid #eee;
	
	/* Dark themes */
	
	// background-color: #000;
	// border-bottom: 1px solid #222;
}

.main-section {
	padding-bottom: 30px;
	
	/* Light themes */
	
	background-color: white;
	
	/* Dark themes */

	// background-color: #121417
}

#p-logo a:hover {
	background-color: transparent;
}

.labstrap-nav-row {
	margin-top: 10px !important;
}

.container-narrow {
	max-width: 900px;
}

.navbar-inner-blank {
	.input[type="search"] {
		margin-right: 5px;
	}
}

@media (max-width: 767px) {
	.navigation {
		// Stacked tabs and pills
		> li {
			float: none;
		}
		> li > a {
		 	margin-right: 0; // no need for the gap between nav items
		}

		// Pills
		> li > a {
			margin-bottom: 3px;
		}
		> li:last-child > a {
		  	margin-bottom: 1px; // decrease margin to match sizing of stacked tabs
		}
	}
}
